[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme.git
