{{- with .cxt}} {{/* Apply proper context from dict */}}
{{- if (and .Params.cover.image (not $.isHidden)) }}
{{- $alt := .Title }}
<figure class="entry-cover">
    {{- $responsiveImages := (.Params.cover.responsiveImages | default site.Params.cover.responsiveImages) | default true }}
    {{- $addLink := (and site.Params.cover.linkFullImages (not $.IsHome)) }}
    {{- $image := resources.GetMatch .Params.cover.image -}}
    {{ if $image }}
        {{- if $addLink }}<a href="{{ (path.Join .RelPermalink .Params.cover.image) | absURL }}" target="_blank"
            rel="noopener noreferrer">{{ end -}}
        {{- $resizedImages := slice -}}
        {{- $sizes := (slice "360" "480" "720" "1080" "1500") -}}
        {{- $formats := (slice "webp") -}}
       
        {{- range $sizes -}}
            {{- $resized := $image.Resize (printf "%sx" .) -}}
            {{- $resizedImages = $resizedImages | append (dict "src" $resized.RelPermalink "width" $resized.Width) -}}
        {{- end -}}

        <picture>
                {{range $sizes}}
                {{$size := .}}
                {{- range $formats -}}
                    {{$newImage := $image.Resize (printf "%sx %s q85" $size .)}}
                    <source
                        media="(min-width: {{$size}}x)"
                        srcset="{{ $newImage.Permalink }}"
                        type="image/{{.}}"
                        loading="lazy"
                    >
                {{- end -}}
            {{- end -}}
        
            <img src="{{ $image.RelPermalink }}" 
              sizes="(max-width: 1500px) 100vw, 1500px"
              srcset="{{ range $resizedImages }}{{ .src }} {{ .width }}w, {{ end }}"
              alt="{{ $image.Title }}">
          </picture>
    {{- else }}{{/* For absolute urls and external links, no img processing here */}}
        {{- if $addLink }}<a href="{{ (.Params.cover.image) | absURL }}" target="_blank"
            rel="noopener noreferrer">{{ end -}}
            <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ $alt }}">
    {{- end }}
    {{- if $addLink }}</a>{{ end -}}
    {{/*  Display Caption  */}}
    {{- if not $.IsHome }}
        {{ with .Params.cover.caption }}<p>{{ . | markdownify }}</p>{{- end }}
    {{- end }}
</figure>
{{- end }}{{/* End image */}}
{{- end -}}{{/* End context */ -}}

